.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--accent);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-page__logo {
  color: var(--title-text);
}

.footer-page__logo {
  color: var(--primary-white);
}
