:root {
  --primary-text: #757575;
  --title-text: #212121;
  --accent: #2196f3;
  --primary-white: #ffffff;
  --primary-background: #2f303a;
  --secondary-background: #f5f4fa;
  --footer-accent: rgba(255, 255, 255, 60%);
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --footerbg-icon-color: rgba(255, 255, 255, 0.1);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);

  --grid__item: 1;
}
